doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .menu
      a.menu-item(href='/') Main
      a.menu-item(href='/col') Categorii
    block content
    
